@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hex-container {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hex-container::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(45deg, transparent 25%, rgba(59, 130, 246, 0.1) 50%, transparent 75%);
  animation: shine 3s infinite linear;
  opacity: 0;
  transition: opacity 0.3s;
}

.hex-container:hover::before {
  opacity: 1;
}

@keyframes shine {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

.my-masonry-grid {
  display: flex;
  margin-left: -32px;
  /* 調整間距 */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 32px;
  /* 調整間距 */
  background-clip: padding-box;
}